.voltar-pagina-principal {display: fixed;bottom: 0px;position: absolute;margin: 5px;padding: 5px;text-align: center;background: #006699;color: white;transition: 0.5s background;border-radius: 5px;z-index: 9999;font-family: calibri;font-size: 16px;} .voltar-pagina-principal:hover {transition: 0.5s background;background: gray;}

* {
    font-family: calibri;
}

#container {
    max-width: 30%;
    margin: auto;
}

#logo-ifpb {
    width: 80%;
    display: block;
    margin: 30px auto;
}

.input-container {
    display: flex;
    width: 100%;
    background: blue;
    padding: 0px;
    margin: 10px 0px;
    box-sizing: border-box;
}

.input-container input {
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    width: 100%;
    background: #f1f1f1;
    border: none;
}

.input-container select {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px;
    font-size: 20px;
    width: 100%;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}

label {
    display: block;
    font-size: 20px;
}

button {
    border: none;
    font-size: 20px;
    border-radius: 3px;
    padding: 5px 20px;
    background: #007BFF;
    color: white;
    transition: 0.5s background;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #0069D9;
    transition: 0.5s background;
}

.icon {
  padding: 15px;
  background: dodgerblue;
  color: white;
  min-width: 10%;
  text-align: center;
}

#legenda {
    text-align: center;
    color: darkgray;
}