.home-github {display: fixed;position: absolute;margin: 5px;padding: 5px;color: white;z-index: 9999;font-size: 20px;bottom: 0px;}.home-github .i-principal {color: white;border-radius: 5px;padding: 5px;transition: 0.5s background;}.home-github .i-pr-home {background: #069;}.home-github .i-pr-git {background: purple;}.home-github .i-principal:hover {transition: 0.5s background;background: gray;}

* {
    font-family: 'Bebas Neue';
    font-size: 20px;
}

body {
    background: #00121E;
}

#container {
    max-width: 40%;
    margin: auto;
    margin-top: 10%;
}

#logo-ifpb {
    width: 80%;
    display: block;
    margin: 30px auto;
}

.input-container {
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
    box-sizing: border-box;
}

.input-container input {
    color: gray;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background: #082336;
    border: none;
    border-top: 1px solid #3193D1;
    border-right: 1px solid #3193D1;
    border-bottom: 1px solid #3193D1;
    border-radius: 0px 10px 10px 0px;
}

button {
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    background: #3AE5B0;
    color: black;
    transition: 0.5s background;
    margin-top: 20px;
    cursor: pointer;
    width: 100px;
    box-sizing: border-box;
}

button:hover {
    background: #2B83BB;
    transition: 0.5s background;
}

.icon {
    padding: 15px;
    color: #3193D1;
    min-width: 10%;
    text-align: center;
    background: #082336;
    border-top: 1px solid #3193D1;
    border-left: 1px solid #3193D1;
    border-bottom: 1px solid #3193D1;
    border-radius: 10px 0px 0px 10px;
}

#legenda {
    text-align: center;
    color: darkgray;
}

.check-container a {
    float: right;
    color: gray;
    text-decoration: none;
}

.check-container span{
    float: left;
    color: gray;
}

.check-container #check {
    float: left;
    -webkit-appearance: none;
    padding: 5px;
    border-radius: 50px;
    border: 2px solid gray;
    height: 20px;
    width: 20px;
}