.voltar-pagina-principal {display: fixed;bottom: 0px;position: absolute;margin: 5px;padding: 5px;text-align: center;background: #006699;color: white;transition: 0.5s background;border-radius: 5px;z-index: 9999;font-family: calibri;font-size: 16px;} .voltar-pagina-principal:hover {transition: 0.5s background;background: gray;}

* {
    font-family: arial;
}

#topbar {
    display: block;
    box-sizing: border-box;
}

#sidebar, #container {
    display: inline-block;
    box-sizing: border-box;
}

#topbar {
    background: brown;
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    border-bottom: 5px solid white;
    padding: 10px;
}

#sidebar {
    background: cornflowerblue;
    height: 100px;
    width: 15%;
    position: absolute;
    left: 0px;
    top: 10%;
    height: 90%;
    border-right: 5px solid white;
}

#container {
    background: green;
    height: 90%;
    width: 85%;
    position: absolute;
    top: 10%;
    left: 15%;
    box-sizing: border-box;
    padding: 50px 150px;
    overflow: auto;
}

#topbar #titulo-pagina, #container #titulo-container {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}

#tabela-membros {
    width: 100%;
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
}

#tabela-membros th, #tabela-membros td {
    padding: 20px;
}

#tabela-membros thead th {
    background: darkblue;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

#tabela-membros tbody tr:nth-child(odd) {
    background: #F2F2F2;
}

#tabela-membros tbody tr:nth-child(even) {
    background: #FFFFFF;
}

